.quote_info {
  padding-left: 12px;
  padding-top: 12px;
  display: flex;
  width: 100%;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.quote_year {
  font-size: 36px;
}

.quote_title {
  padding-left: 24px;
  font-size: 24px;
  font-style: italic;
}

.quote_author {
  padding-left: 24px;
  font-size: 18px;
}
